{% extends 'base.html.twig' %}

{% block title %}Ajouter un incident{% endblock %}

{% block body %}
  <p>
    Véhicule :
    <strong>{{ vehicle.brand }}</strong>
    - {{ vehicle.model.name }}
    ({{ vehicle.registration }})
  </p>

  {{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.type) }}
    {{ form_row(form.description) }}

    <button type="submit">Ajouter</button>
  {{ form_end(form) }}

  <p style="margin-top: 1rem;">
    <a href="{{ path('vehicles_index') }}">← Retour à la liste</a>
  </p>
{% endblock %}
